.c-badge {
  font-size: var(--font-size-10);
  font-weight: normal;

  &.-require {
    margin-left: 8px;
    display: block;
    padding: 2px 5px;
    color: #fff;
    border-radius: 2px;
    background-color: #ff2c2c;
  }
}
